button{
    cursor: pointer;
}

.clk{
    background-color: red;
    color: black;
}

/* Dropdown Button */
.dropbtn {
  background-color: red;
  color: black;
  padding: 16px;
  font-style: italic;
  font-size: large;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .clk:hover, .b1:hover {
  background-color: black;
  color: red;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  background-color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black;
color: red;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

p{
    color: red;
}

.body1{
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/e3/97/f0/e397f023bdaed6b03cc36df84cc5a076.gif);
    background-repeat: no-repeat;
     background-attachment: fixed;
  background-size: cover;
}

.body2, .body4 {
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/55/a5/23/55a523855425a0f490ac99fd64f45ab9.gif);
}

.deadmeat {
     display: flex;
  flex-direction: column;
  align-items: center; 
}

.welcome {
    color: red;
}
h2 {
    color: red;
}
.b1{
  color: black;
  background-color: red;
}

.cred {
  padding-top: 5%;
}

.body3 {
   background-color: black;
    background-image: url(https://i.pinimg.com/originals/e0/f8/9a/e0f89ab1fdc27d8de36f810eea0f4dab.gif);
    background-repeat: no-repeat;
     background-attachment: fixed;
  background-size: cover;
}

    /* Example media query for screens smaller than 600px */
    @media (max-width: 600px) {
        body {
            font-size: 14px;
        }
        .container {
            flex-direction: column; /* Stack elements vertically on small screens */
        }
    }


.row {
  padding-top: 70px;
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
    
.product{
  color: red;
  font-style: italic;
}

.body5 {
  background-color: black;
    background-image: url(https://gifdb.com/images/high/transparent-heart-sticker-purple-pixel-heart-pdxsm5ol8e6sezso.webp);
    background-repeat: no-repeat;
     background-attachment: fixed;
  background-size: contain;
}

.love{
  padding-left: 98%;
}